
<div class="col">
  <%= render 'partials/dashboard_nav' %>
</div>
<div class="col">
  <div class="show container">
    <div class="row">
      <h1 class="show-header"> Your Business </h1>
    </div>

    <div class="row">
      <h4>Business name: <%= @business.name %></h4>
    </div> 

    <hr/>

    <div class="row">
      <h4>Business Email: <%= @business.email %></h4>
    </div>

    <hr/>

    <div class="row">
      <h4>Phone Number: <%= @business.phone_number %></h4>
    </div>
  <div>
</div>