<div class="col">
  <div class="show container">
    <div class="row">
      <h1 class="show-header"> Your Menus </h1>
    </div>
    <% unless @menus.empty? %>
    <div class="row row-cols-5">
      <% @menus.each do |menu| %>
        <div class="card col" style="width: 18rem; margin: 0.5rem;">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title"><%= menu.display_name %></h5>
            </div> 
            <div class="row">
              <p>Internal Name: <%= menu.internal_name %></p>
            </div> 
            <%= link_to "View Menu", menu_path(menu), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
      <p> You have no menus <p>
    <% end %>
  <div>
  <%= link_to "Create a menu", new_menu_path, class: "btn btn-primary btn-sm" %>
</div>
