<div class="sidenav">
  <h5 style="color:white; margin-left: 10px;">Settings</h5>
  <hr>
  <a><%= link_to "Business",  business_path(current_user.business) %></a>
  <a><%= link_to "Locations", locations_path %></a>
  <a>
  <%= link_to "Menus",     menus_path %>
  </a>
</div>
