<h1><!DOCTYPE html>
<html>
	<head>
		<title>Error</title>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div>
      <h1>Error</h1>
			<p>Not Authorized. Please contact the person who gave you the link to this page.</p>
		</div>
	</body>
</html>
