<h1>CS home page</h1>

<h2> Items </h2>
<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </li>
    <li>
      <%= link_to "Edit Account", edit_user_registration_path %>
    </li>
      <% else %>
    <li>
      <%= link_to "Log In", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Sign Up", new_user_registration_path %>
    </li>
  <% end %>
  <li>
    create Business
  </li>
  <li>
    view Businesses
  </li>
</ul>
