<h1>Create your own tags</h1>
<%= simple_form_for @tag, url: business_tags_path(@business.id), method: :post do |f| %>
  <div class="form-block">
    <%= f.input :name %>
  </div>
  <div class="form-block">
    <p>Upload icons with square dimensions for the best results! E.g 300px by 300px</p>
    <%= f.file_field :icon, accept: 'image/jpeg,image/png'%>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>