/*
  *= require_self
  *= require jquery-ui/sortable
  *= require jquery.minicolors
  *= require fancybox
  *= require trix
  *= require_tree .
*/
.backround,
html,
body {
  height: 100%;
  background-color: #F9FAFB;
}

// Removes Asterisk from simpleforms
abbr[title="required"] {
  display: none;
}

input {
  box-sizing: border-box;
}

.nav {
  background-color: #1C4D7E;

  a {
    color: white;
  }
}

.drop-down-link {
  color: #1C4D7E !important;
}

.nav-item {
  color: #1C4D7E;
}

.menu-item-name {
  background-color: #1C4D7E;
  color: white;
}

.home {
  background-image: url('../images/ben-karpinski-aJAfKxscG3k-unsplash.jpg');
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-buttons {
  padding: 10px 10px;
  margin-top: 20px;
}

.home-paragraph {
  width: 400px;
}

.btn-primary {
  background-color: #1C4D7E;
  color:#FFF;
  border-color: #1C4D7E;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #2F3E48;
  color:#FFF;
  border-color: #31347B;
}

.show-header {
  color: #000000;
  padding: 10px;
}

.login-form {
  /* centering the form */
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* styling the form content */
  padding-top: 3%;
  padding-bottom: 25%;
  text-align: center;
}

.sign-up-form {
  /* centering the form */
  position: fixed; /* or absolute */
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* styling the form content */
  padding-top: 3%;
  text-align: center;
}

label {
   /* puts form label over input */
  display: block; 
}

.new-business-form {
  /* centering the form */
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* styling the form content */
  padding-top: 3%;
  text-align: center;
}

.new-menu-form {
  /* centering the form */
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* styling the form content */
  padding-top: 3%;
  text-align: center;
}


/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.menu-show-category {
  border: 1px solid lightgray;
  padding: 10px;
}

.menu-show-menu-item {
  border: 1px solid lightgray;
  padding: 10px;
}

.customer-menu-title {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.menu-description {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

@media only screen // For tablets, portrait and landscape
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .location-card {
    width:  300px;
    height: 300px;
    text-align: center;
    margin-left:   5px;
    margin-right:  5px;
    margin-top:    5px;
    margin-bottom: 5px;
  }

  .show-header {
    width:      100%;
    text-align: center;
  }

  .card-title {
    font-size: 20pt;
  }
}

@media only screen // for desktops, portrait and landscape
  and (min-device-width: 1025px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .location-card {
    width:  250px;
    height: 250px;
    text-align: center;
    margin-left:   5px;
    margin-right:  5px;
    margin-top:    5px;
    margin-bottom: 5px;
  }

  .show-header {
    width:      100%;
    text-align: center;
  }

  .card-title {
    font-size: 20pt;
  }
}
