/*
  *= require_self
  *= require jquery-ui/sortable
  *= require jquery.minicolors
  *= require trix
  *= require_tree .
*/
.background,
html,
body {
  min-height: 1599px;
  background-color: #e8ecff;
}

div.business-banner {
  width: 100%;
  max-height: 200px;
  vertical-align: middle;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#location-images-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#location-images-list li {
  padding: 1px;
  float: left;
  width: 150px;
  height: 150px;
  text-align: center;
}

#location-image-form {
  margin-top: 20px;
  padding-top: 20px;
}

abbr[title="required"] {
  display: none;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.imap-location-show {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error {
  color: red;
  font: 13pt;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
}

.nav {
  background-color: #1C4D7E;
}

.nav a {
  color: white;
}

.nav-public {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0px;
}

.nav-public a {
  color: black;
}

.drop-down-link {
  color: #1C4D7E !important;
}

.nav-item {
  color: #1C4D7E;
}

.menu-item-name {
  background-color: #1C4D7E;
  color: white;
}

.home {
  background-image: url("../images/ben-karpinski-aJAfKxscG3k-unsplash.jpg");
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-buttons {
  padding: 10px 10px;
  margin-top: 20px;
}

.home-paragraph {
  width: 400px;
}

.btn-danger {
  background-color: #EE6C4D;
  border-color: #EE6C4D;
}

.btn-primary {
  background-color: #1C4D7E;
  color: #FFF;
  border-color: #1C4D7E;
}

.category-edit-button {
  margin-right: 5px;
}

.custom-btn {
  background-color: #1C4D7E;
  border-color: #1C4D7E;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #2F3E48;
  color: #FFF;
  border-color: #31347B;
}

.show-header {
  color: #000000;
  padding: 10px;
}

.login-form {
  /* centering the form */
  position: fixed;
  /* or absolute */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* styling the form content */
  padding-top: 25%;
  padding-bottom: 25%;
  text-align: center;
}

.sign-up-form {
  /* centering the form */
  position: fixed;
  /* or absolute */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* styling the form content */
  padding-top: 3%;
  text-align: center;
}

label {
  /* puts form label over input */
  display: block;
}

.new-business-form {
  /* centering the form */
  position: fixed;
  /* or absolute */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* styling the form content */
  padding-top: 3%;
  text-align: center;
}

.new-menu-form {
  /* centering the form */
  position: fixed;
  /* or absolute */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* styling the form content */
  padding-top: 3%;
  text-align: center;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.menu-show-category {
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.menu-show-menu-item {
  border: 1px solid lightgray;
  padding: 10px;
}

.customer-menu-title {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-description {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#index-heading {
  margin-bottom: 50px;
  padding-top: 30px;
}

#index-container {
  text-align: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .location-card {
    width: 100%;
    height: 300px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .show-header {
    width: 100%;
    text-align: center;
  }
  .card-title {
    font-size: 20pt;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 3000px) and (-webkit-min-device-pixel-ratio: 1) {
  .location-card {
    width: 100%;
    height: 250px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .show-header {
    width: 100%;
    text-align: center;
  }
  .card-title {
    font-size: 20pt;
  }
  #business-iframe {
    width: 100%;
    height: 65vh;
  }
}

.gallery {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.radio-options {
  margin-top: 15px;
  margin-bottom: 15px;
}

.option-form {
  width: 50%;
  margin-bottom: 10px;
}

/* Portrait and Landscape Phones */
@media only screen and (max-device-width: 375px) {
  #index-container {
    min-width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .nav-public,
  .nav-item {
    height: 100px;
    font-size: 40px;
  }
  #index-container {
    text-align: center;
  }
  .custom-btn {
    height: 50px;
    width: 200px;
    font-size: 25px;
  }
  #index-heading {
    margin-bottom: 50px;
    padding-top: 30px;
    font-size: 60px;
  }
  #index-description {
    font-size: 35px;
  }
  #index-card {
    font-size: 30px;
  }
  #index-iframe {
    height: 250px;
    width: 250px;
  }
}

.edit-gallery {
  margin-bottom: 10px;
  height: 80%;
}

.max-width-inputs input[type=submit] {
  width: 150px;
}

.max-width-inputs input {
  width: 100%;
}

.bda-inputs input {
  width: 100%;
}

#priv-m-table {
  border-collapse: separate;
  border-spacing: 10px 0;
}

#priv-m-td {
  padding: 1px 0;
}

.warning-message {
  color: lightcoral;
}

#u-access-title {
  text-align: center;
  margin-top: 10px;
}

#b-show-links {
  text-align: center;
}
#business-customization {
  margin-bottom:20px;
}

#business-show-container {
  padding-bottom:100px;
  padding-top:10px;
}

#business-s-description {
  margin-top: 15px;
  padding-left: 20%;
}

#business-s-info {
  margin-bottom:20px;
  text-align:center 
}

.b-btn-save {
  margin-top: 15px;
}

/*# sourceMappingURL=application.css.map */