/*
  *= require_self
  *= require jquery-ui/sortable
  *= require jquery.minicolors
  *= require trix
  *= require_tree .
*/

html {
  scroll-behavior: smooth;
}

body,
.background {
  background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  display: block !important;
}

div.business-banner {
  width: 100%;
  max-height: 200px;
  vertical-align: middle;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.business-banner img {
  width: 100%;
}

.business-top-ico {
  padding-top: 20px;
}

.business-hero-video-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#business-hero-video {
  width: 100%;
}

label {
  /* puts form label over input */
  display: block;
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 3000px) and (-webkit-min-device-pixel-ratio: 1) {
  #menu-category-nav {
    display: none;
  }

  #menu-nav {
    display: block;
  }
  .location-card {
    width: 100%;
    height: 250px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .show-header {
    width: 100%;
    text-align: center;
  }
  .card-title {
    font-size: 20pt;
  }
  #business-iframe {
    width: 100%;
    height: 65vh;
  }
  .show-description {
    margin-top: 10px;
  }
  .pub-show-menus {
    margin-top: 10px;
  }

  .public-nav-dropdown {
    display: none;
  }

  .reg-nav {
    display: block;
  }
}

@media only screen and (min-device-width: 508px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {


  .container {
    max-width: 95%;
  }

  #index-card {
    font-size: 18pt;
  }

  #index-description {
    font-size: 18pt;
  }

  .custom-btn {
    margin-top: 20px;
    padding-bottom: 5px;
    width: 240px;
    height: 40px;
    font-size: 15pt;
    border-radius: 5px;
  }

  .location-card {
    width: 100%;
    height: 300px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .show-header {
    width: 100%;
    text-align: center;
  }
  .card-title {
    font-size: 20pt;
  }
  #pub-m-container {
    width: 100%;
    max-width: 900px;
    margin-top:10px;
    padding-bottom: 10px;
  }

  #menu-nav {
    display: none;
  }
  
  #menu-category-nav {
    display: block;
  }

  .public-nav-dropdown {
    display: none;
  }

  .reg-nav {
    display: block;
  }
}

/* Portrait and Landscape Phones */
@media only screen and (max-device-width: 507px) {
  .nav-item {
    padding-top: 11px;
    padding-right: 11px;
  }

  .show-header {
    font-size: 45pt;
    text-align: center;
  }

  .show-sub-header {
    font-size: 35pt;
  }

  #back-button {
    width: 450px;
    margin-bottom: 10px;
  }

  .show-description {
    font-size: 30pt;
    width: 100%;
    margin-bottom: 5px;
  }

  .pub-show-menus {
    text-align: center;
  }

  .pub-menu-description {
    font-size: 30pt;
    margin-top: 10px;
  }

  .card-title {
    font-size: 40pt;
  }

  .custom-btn {
    padding-top: 8px;
    height: 65px;
    width: 50%;
    font-size: 24pt;
    border-radius: 5px;
  }

  .show-location-images {
    width: 100%;
    height: 100%;
  }

  .imap-location-show {
    position: relative;
    overflow: hidden;
  }

  #imap {
    width: 100%;
    height: 600px;
  }

  #index-container,
  #show-container {
    min-width: 94%;
    margin-right: 0;
    margin-left: 30px;
    padding-right: 0;
    padding-left: 0;
  }
  #index-container {
    text-align: center;
    margin-top:0px;
  }
  .location-show-card
.nav-public,
  .nav-item {
    padding-bottom: 10px;
    height: 100px;
    font-size: 40px;
  }
  #index-heading,
  #show-heading {
    margin-bottom: 50px;
    padding-top: 30px;
    font-size: 60px;
  }
  #index-description {
    font-size: 35px;
  }
  
  #index-card {
    font-size: 30pt;
    border-radius: 0;
  }

  #index-iframe {
    height: 250px;
    width: 250px;
  }

  #show-card {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-radius: 0;
  }

  .menu-description {
    top: 23%;
    font-size: 20pt;
  }

  .customer-menu-title h1 {
    font-size: 40pt;
  }

  .customer-menu-title {
    top: 15%;
  }

  #pub-m-container {
    width: 100%;
  }

  #menu-banner img {
    width: 100%;
  }

  #pub-m-container {
    max-width: 95%;
  }

  .menu-info {
    width: 100%;
    font-size: 30pt;
  }

  .menu-info h1 {
    font-size: 40pt;
  }

  .menu-show-menu-item {
    height: 100%;
    font-size: 25pt;
  }

  .menu-show-menu-item h5 {
    font-size: 30pt;
  }

  .menu-show-category {
    height: 100%;
  }

  .menu-show-category h5 {
    font-size: 25pt;
  }

  .menu-show-menu-item img {
    height: 75%;
    width: 75%;
  }

  #menu-nav {
    display: none;
  }

  #menu-category-nav {
    display: block;
    width: 50%;
  }

  #menu-category-nav button {
    width: 100%;
  }
  
  .reg-nav {
    display: none;
  }

  .public-nav-dropdown {
    display: block;
    width: 100px;
    height: 100px;
  }

  .hamburger-item {
    width: 300px;
    height: 100px;
    font-size: 50pt;
  }

  .category-name {
    font-size: 40pt;
  }
}

.gallery {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.radio-options {
  margin-top: 15px;
  margin-bottom: 15px;
}

.option-form {
  width: 50%;
  margin-bottom: 10px;
}

.location-show-card {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px 0px 5px 0px;
  width: 100%;
  border-radius: 0;
}

#pub-m-table {
  border-collapse: separate;
  border-spacing: 10px 0;
}

#pub-m-td {
  padding: 1px 0;
}

#menu-banner {
  display:flex;
  align-content: center;
  justify-content: center;
}

.menu-show-menu-item {
  border: 1px solid lightgray;
  padding: 10px;
  margin-top:10px;
}

#index-container {
  padding-bottom: 10px;
}

#show-c-container {
  margin-top:10px;
}

#show-container {
  padding-bottom: 10px;
}

#pub-m-container {
  margin-top:10px;
}

.menu-info {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 10px;
  text-align:center;
}

#b-description-p {
  margin-bottom:49px;
}

#index-description {
  margin-bottom:40px;
}

#pub-menu {
  margin-top:20px;
  padding-bottom: 5%;
}

.menu-show-category {
  margin-bottom: 1%;
  margin-top: 1%;
}

#show-title {
  text-align:center;
}

#menu-nav {
  margin-right: 10px;
  margin-top: 60px;
  height: 100%;
  padding-bottom: 5%;
  padding-top: 20px;
}

#menu-nav a {
  font-size: 18pt;
  margin-left: 60px;
  padding-top: 10px;
}


/*# sourceMappingURL=public_pages.css.map */