<div class="location-index container">
  <div class="row">
    <div class="show-header">
      <h1>Your Locations </h1>
    </div>
  </div>
  <% unless @locations.empty? %>
  <div class="row row-cols-12">
    <% @locations.each do |location| %>

      <div class="card location-card">
        <div class="card-body">
          <h5 class="card-title"><%= location.name %></h5>
          <p class="card-text"><%= location.address %></p>
          <%= link_to "View Location", location_path(location), class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
  <% else %>
    <p> You have no locations <p>
  <% end %>
<div>

<%= link_to "Add a location", new_location_path, style: "margin-top: 10px;", class: "btn btn-primary" %>
