<div class="col">
  <div class="show container">
    <div class="row">
      <h1 class="show-header"> Your Locations </h1>
    </div>
    <% unless @locations.empty? %>
    <div class="row row-cols-5">
      <% @locations.each do |location| %>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= location.name %></h5>
            <p class="card-text"><%= location.address %></p>
            <%= link_to "View Location", location_path(location), class: "btn btn-primary" %>
          </div>
        </div>

      <% end %>
    </div>
    <% else %>
      <p> You have no locations <p>
    <% end %>
  <div>
  <%= link_to "Add a location", new_location_path, class: "btn btn-primary" %>
</div>
