<ul class="nav nav-public justify-content-end" style="background-color: <%= current_business.business_display_attribute.nav_bar_color %>">
  <% if current_user %>  
    <% if current_user.business == current_business %>
      <li class="nav-item">
        <%= link_to "Admin", business_path(current_business), class: "nav-link active", target: :_blank %>
      <li>
    <% end %>
  <% end %>
  <li class="nav-item">
    <%= link_to "#{current_business.name}", public_locations_path(current_business.business_url), class: "nav-link active" %>
  </li>
  <% if !current_user %>
    <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
  <% end %>
</ul>
